
@{
    ViewBag.Title = "CartKosong";
}

<h2>CartKosong</h2>
<div class="container">
    <div class="row text-center" style="margin-top:5%">
        <h3>Keranjang Belanja Kosong</h3>
    </div>

</div>
