@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center">
    <h1 style="font-family:Roboto"><b>MULTI-TENANT </b><span style="font-family:'Compass LT';color:#47a447">SABLON</span></h1> 
    <hr />
    <p class="lead">Daftarkan perusahaan sablon anda sekarang!</p>
    <p><a onclick="location.href='@Url.Action("Create", "Penyewa")'" class="btn btn-success btn-lg">Daftar</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2  style="color:#47a447">Daftarkan Produk-Produk Anda!</h2>
        <p>
           Nikmati kemudahan pendataan produk-produk yang dapat dipasarkan
            melalui website Multi-Tenan Sablon.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2 style="color:#47a447">Pendaftaran WebSite Mudah!</h2>
        <p>Hanya dengan mengisikan data yang diperlukan, anda dapat memperoleh website canggih dari kami.</p>
        
    </div>
    <div class="col-md-4">
        <h2 style="color:#47a447">Harga Terjangkau dan Banyak Bonus!</h2>
        <p>Harga bukanlah hal yang perlu dikhawatirkan, kami menyediakan layanan dengan harga termurah!</p>
        
    </div>
</div>