@Html.Raw(TempData["Pesan"])
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("CreateBahan2", "Penyewa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />

            <div class="form-group">
                <label for="namabahan" class="col-md-2 control-label">Nama Bahan</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="namabahan" name="namabahan" />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Simpan" class="btn btn-default" />
                </div>
            </div>

        }

    </div>

</div>


