
@{ var namaproduk = Session["nama_produk"];}

@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}
<div class="text-center">
    <ul class="nav nav-wizard" style="display:inline-block">
        <li><a style="color:#47a447">Design Website</a></li>
        <li><a style="color:#47a447">Gambar Homepage</a></li>
        <li class="active"><a>Data Produk, Bahan, dan Jenis Sablon</a></li>
        <li><a style="color:#47a447">Data Harga</a></li>

    </ul>
</div>
<br />
<br />
<div class="row">
    <a onclick="location.href='@Url.Action("IndexProduk", "Penyewa")'" class="btn btn-warning btn-sm" style="margin-left:35px"><< Kembali ke daftar produk</a>
</div>
<br />
@*@Html.Raw(TempData["Pesan"])*@

    <div class="col-md-6 col-xs-6">
        <div class="thumbnail clearfix text-center" style="max-width:500px;width:100%">

            @using (Html.BeginForm("CreateBahan", "Penyewa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Isi Bahan untuk produk @namaproduk</h2>
                <hr />
                <div class="form-group">
                    <table style="border:0 solid;float:none;margin:0 auto">

                        <tr><td><label for="namabahan">Nama Bahan</label><input type="text" class="form-control" id="namabahan" name="namabahan" /></td></tr>
                    </table>

                </div>

                <input type="submit" value="Simpan" class="btn btn-success" />

                <br />
                <br />
            }

        </div>

    </div>

