@model IEnumerable<Pendaftaran_Tenant.Models.Produk>

@{
    ViewBag.Title = "IndexProduk";
}
@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}
   
<div class="row">

    @*@Html.Partial("CreateProduk2")*@

    <div class="col-md-6 col-xs-6">
        <div class="thumbnail clearfix text-center" style="max-width:600px;width:100%;margin-right:10%">

            <h3 style="color:#47a447">Daftar produk</h3>
            <p><h5><b>Silahkan isi data Bahan dan Jenis Sablon di bawah</b></h5></p>
            <hr />
            <table style="margin-left:10%;margin-right:10px">

                @foreach (var item in Model.Select((value, i) =>  new {i, value }))
                {
                   
                        if ((item.i % 2) == 0)
                        {
                            @:<tr>
                            }
                            <td style="padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:10px">
                                <div class="thumbnail clearfix text-center">
                                    <p><img src="~/Content/Images/@item.value.foto_produk" style="max-height:100px" /></p>
                                    <p>@item.value.nama_produk</p>
                                    <p>
                                        @Html.ActionLink("Tambah Bahan dan Jenis Sablon", "IndexBahan", new { id = item.value.id_produk }, new { @class = "btn btn-primary btn-xs" })
                                    </p>
                                   
                                </div>
                            </td>

                    if((item.i % 2) == 2)
                    {
                        @:</tr>
                    }





                }

        </table>
    </div>
</div>
</div>