
@{
    ViewBag.Title = "Selesai";
}


<br />
<div class="col-md-12 col-xs-12">
    <div class="thumbnail clearfix text-center" style="max-width:500px;width:100%;margin-left:28%">
        <h2 style="color:#47a447">Pendaftaran Selesai</h2>
        <hr />
        <p>Anda telah menyelesaikan pendaftaran data website.</p>
        <p>Data yang telah diisi dapat <b>dilihat kembali dan diubah</b> melalui halaman beranda.</p>
        <br />
        <p>Harap segera menginfokan pemilik aplikasi bila data sudah selesai diisi.</p>
        <p><b>Terimakasih</b></p>
        <br />
        <a onclick="location.href='@Url.Action("Index2", "Home")'" class="btn btn-success btn-sm">Kembali ke beranda</a>
        <br />
        <br />
    </div>
</div>